# macOS
.DS_Store

# Xcode user state
xcuserdata/
**/*.xcuserstate

# Xcode build artifacts
build/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.xcarchive

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Logs
*.log
